.blog-banner {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.blog-banner__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

.blog-banner__image {
    position: relative;
    overflow: hidden;
    background-color: #cccccc;
    height: 395px;
    border-radius: 32px;
}

.blog-banner__image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-banner__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blog-banner__preheading p,
.blog-banner__description p,
.blog-banner__heading h1 {
    margin: 0;
    color: var(--text-color);
}

.blog-banner__heading h1 span {
    display: block;
}

.blog-banner__description {
    max-width: 600px;
}

@media (max-width: 1199px) {
    .blog-banner__inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-banner__image {
        height: auto;
        padding-top: 62.5%;
    }
}

@media (max-width: 768px) {
    .blog-banner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .blog-banner__description {
        max-width: 100%;
    }
}