.get-in-touch {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
}

.get-in-touch__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.get-in-touch__heading h1 {
    font-size: 65px;
    line-height: 1;
    color: var(--heading-color);
    font-weight: 500;
    letter-spacing: -2.21px;
    margin: 0;
}

.get-in-touch__button-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 8px;
    gap: 5px;
}

@media (max-width: 768px) {
    .get-in-touch {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .get-in-touch__heading h1 {
        font-size: 40px;
       letter-spacing: -1.2px;
    }
}