.heading-page {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.heading-page__wrapper h1 {
    margin: 0 0 32px;
    color: var(--text-color);
}

.heading-page__description {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: -0.432px;
    max-width: 48ch;
}

.heading-page__description p {
    margin: 0;
}

@media (max-width: 768px) {
    .heading-page__wrapper .heading-h1 {
        font-size: 36px;
        letter-spacing: -1.08px;
    }

    .heading-page {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}