.hero-banner {
    position: relative;
    height: var(--desktop-height);
    background-color: #cccccc;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
}

.hero-banner__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-banner__bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-banner__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.hero-banner__heading h1 {
    font-size: 65px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -2.21px;
    color: var(--text-color);
    margin: 0;
}

.hero-banner__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 32px;
    text-align: var(--text-alignment);
}

.hero-banner__description {
    color: var(--text-color);
    letter-spacing: -0.432px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: var(--text-color);
}

.hero-banner__description p{
    margin: 0;
}

@media (max-width: 750px) {
    .hero-banner__heading h1 {
        font-size: 40px;
        letter-spacing: -1.2px;
    }

    .hero-banner {
        height: var(--mobile-height);
    }
}