.offices {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.offices__inner {
    display: flex;
    gap: 14px;
}

.offices__heading,
.offices__items {
    width: 50%;
}

.offices__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.offices__items li {
    border-bottom: 1px solid #dfdbd8;
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
}

.offices__items li:first-child {
    padding-top: 0;
}

.offices__items li::marker {
    display: none;
}

.office-cart__heading,
.office-cart__heading h4 {
    font-size: 25px;
    line-height: 28px;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: -0.70px;
}

.office-cart__heading h4 {
    margin: 0;
}

.office-cart__description {
    padding-top: 8px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.432px;
    font-weight: 400;
}

.office-cart__description p {
    margin-bottom: 30px;
}

.office-cart__description p a,
.office-cart__description a {
    color: #0D76D6;
    text-decoration: none;
}

.office-cart__description:last-child p {
    margin: 0;
}

.offices__heading,
.offices__heading h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -1.2px;
}

.offices__heading h2 {
    margin: 0 0 16px;
}

@media (max-width: 1199px) {
    .offices__heading,
    .offices__heading h2 {
        font-size: 45px;
        letter-spacing: -1.35px;
    }
}

@media (max-width: 992px) {
    .offices {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .offices {
        padding-bottom: 0;
    }

    .offices__inner {
        flex-direction: column;
        gap: 14px;
    }

    .offices__inner--no-gap {
        gap: inherit;
    }

    .offices__heading {
        padding-bottom: 20px;
    }

    .offices__heading--empty {
        padding-bottom: 0;
    }

    .offices__heading,
    .offices__heading h2{
        font-size: 40px;
        letter-spacing: -1.2px;
    }

    .offices__items li {
        padding-right: 0;
        padding-left: 0;
    }

    .offices__heading,
    .offices__items {
        width: 100%;
    }
}