.one-column-with-text {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.one-column-with-text__inner {
    width: 50%;
}

.one-column-with-text__heading h2 {
    margin: 0 0 48px;
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -1.2px;
    color: currentColor;
}

.one-column-with-text__description,
.one-column-with-text__description p {
    font-size: 18px;
    letter-spacing: -0.024em;
    line-height: 150%;
    color: currentColor;
    margin: 0;
}

@media (max-width: 768px) {
    .one-column-with-text__inner {
        width: 100%;
    }
}