.page-only-text {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    color: #222222;
}

.page-only-text h1 {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.2px;
}

.page-only-text__content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    column-gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.page-only-text__content h2,
.page-only-text__content p,
.page-only-text__content h3,
.page-only-text__content h4,
.page-only-text__content ul,
.page-only-text__content ol,
.page-only-text__content h5 {
    grid-column: 1 / 7;
}

.page-only-text__content p{
    font-size: 18px;
    letter-spacing: -0.024em;
    line-height: 150%;
    margin: 64px 0 0 0;
    font-weight: 400;
}

.page-only-text__content p:first-child {
    margin: 0;
}

.page-only-text__content p a,
.page-only-text__content a {
    color: #0D76D6;
    text-decoration: none;
}
.page-only-text__content h2,
.page-only-text__content h3,
.page-only-text__content h4,
.page-only-text__content h5 {
    line-height: 1.45;
    margin: 64px 0 10px;
    color: #1d2c4c;
    font-weight: 600;
}

.page-only-text__content h2 {
    font-size: 32px;
}

.page-only-text__content h3 {
    font-size: 28px;
    font-weight: 500;
}

.page-only-text__content h4 {
    font-size: 24px;
    font-weight: 500;
}

.page-only-text__content h5 {
    font-weight: 500;
    font-size: 22px;
}

.page-only-text__content ul,
.page-only-text__content ol {
    margin-top: 64px;
}

.page-only-text__content ul li p,
.page-only-text__content ol li p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
}

.page-only-text__content ul li ul {
    margin-top: 0;
}

.page-only-text__content .mt-0 {
    margin-top: 0 !important;
}

@media (max-width: 768px) {
    .page-only-text__content {
        display: block;
    }

    .page-only-text h1 {
        margin: 0 0 24px;
    }

    .page-only-text {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .page-only-text__content ul,
    .page-only-text__content ol {
        margin-top: 32px;
    }

    .page-only-text__content ul li ul {
        margin-top: 0;
    }

    .page-only-text__content h2,
    .page-only-text__content h3,
    .page-only-text__content h4 {
        margin: 32px 0 10px;
    }

    .page-only-text__content p {
        margin: 32px 0 0 0;
    }

    .page-only-text__content h2,
    .page-only-text__content h3,
    .page-only-text__content h4,
    .page-only-text__content h5 {
        line-height: 1.2;
    }

    .page-only-text__content h2 {
        font-size: 28px;
    }

    .page-only-text__content h3 {
        font-size: 24px;
    }

    .page-only-text__content h4 {
        font-size: 20px;
    }

    .page-only-text__content h5 {
        font-size: 18px;
    }
}