.lead-form-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    color: #21201F;
}

.lead-form-wrapper__width {
    flex: 1;
    width: 100%;
}

.lead-form-wrapper__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
}

.lead-form-wrapper__current-address {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
}

.lead-form-wrapper__save-button {
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    color: #0040E6;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
    transition: all ease .3s;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.lead-form-wrapper__save-button:hover {
    color: #2B54EA;
}

.lead-form-wrapper__items {
    padding-top: 48px;
}

.lead-form-wrapper__item {

}

.lead-form-wrapper__item.active {
    display: block;
}

.cart-lead-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
}

.cart-lead-form__heading {
    font-size: 40px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -1.2px;
}

.cart-lead-form__descrption {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -0.423px;
}

.cart-lead-form__radio-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-lead-form__radio-list--select {
    gap: 50px;
}

.cart-lead-form__radio-list li {
    width: 100%;
}

.cart-lead-form__radio-list input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.cart-lead-form__radio-list label {
    display: block;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid rgb(222, 218, 215);
    padding: 28px 22px;
    font-size: 22px;
    line-height: 112%;
    letter-spacing: -0.024em;
}

.cart-lead-form__radio-list label p {
    margin: 0;
}

.cart-lead-form__radio-list input:checked + label {
    border: 1px solid rgb(33, 32, 31);
    outline: rgb(33, 32, 31) solid 1px;
}

.cart-lead-form__radio-list li:hover label {
    border: 1px solid rgb(115, 109, 104);
    outline: rgb(115, 109, 104) solid 1px;
}

.cart-lead-form__small-text {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: #736D68;
    letter-spacing: -.014em;
    font-weight: 400;
}

.cart-lead-form__radio-list--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cart-lead-form__radio-list--grid .cart-lead-form__small-text {
    color: #21201F;
    padding: 0 24px 24px;
}

.cart-lead-form__radio-list--grid label {
    padding: 0;
    border-radius: 22px;
    overflow: hidden;
}

.cart-lead-form__radio-list--grid label p {
    margin: 0 0 4px;
    padding: 0 24px;
    font-weight: 500;
}

.cart-lead-form__radio-list img {
    display: block;
    width: 100%;
    height: 160px;
    max-width: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.buttons-wrap-lead-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 56px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 56px, rgb(255, 255, 255) 100%);
}

.buttons-wrap-lead-form__line {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background-color: #F2F4F7;
}

.buttons-wrap-lead-form__line--current {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    bottom: 0;
    transition: width ease .5s;
    background: linear-gradient(to right, rgb(0, 64, 230) 0%, rgb(0, 64, 230) 100%);
    z-index: 2;
}

.buttons-wrap-lead-form__content {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.buttons-wrap-lead-form__prev {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.buttons-wrap-lead-form__prev:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.buttons-wrap-lead-form__prev svg{
    display: block;
    width: 24px;
    height: auto;
}

.buttons-wrap-lead-form__next {
    min-height: 56px;
    border-radius: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    cursor: pointer;
    border: none;
    min-width: 115px;
    white-space: nowrap;
    background-color: #0040E6;
    color: #FFFFFF;
    transition: all ease .3s;
}

.buttons-wrap-lead-form__next:hover {
    background-color: rgb(0, 54, 195, 1);
}

.lead-form-wrapper__policy-wrap {
    padding: 48px 0 156px;
    text-align: center;
    font-size: 12px;
    letter-spacing: -.014em;
    line-height: 150%;
    color: #403E3C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.lead-form-wrapper__link {
    color: #0040E6;
    text-decoration: none;
    letter-spacing: -.014em;
    line-height: 150%;
    font-weight: 400;
}

.lead-form-wrapper__link::before {
    content: ".";
    margin: 0 4px;
    position: relative;
    top: -3px;
}

.lead-form-wrapper__link:first-child::before {
    display: none;
}

.lead-form-wrapper__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cart-lead-form-select {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-lead-form-select__heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #23201d;
    letter-spacing: -0.48px;
}

.cart-lead-form-select__description {
    color: #786e64;
    letter-spacing: -0.196px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

.cart-lead-form-select-control {
    position: relative;
    border: 1px solid #dfdbd8;
    border-radius: 24px;
}

.cart-lead-form-select-control:hover {
    border: 1px solid rgb(115, 109, 104);
    outline: rgb(115, 109, 104) solid 1px;
}

.cart-lead-form-select-control select {
    font-family: var(--font-body-family);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.48px;
    color: rgb(160, 150, 140);
    background-color: transparent;
    height: 75px;
    padding-left: 20px;
    padding-right: 48px;
    outline-style: none;
    cursor: pointer;
    appearance: none;
    text-overflow: ellipsis;
    border: none;
    width: 100%;
}

.cart-lead-form-select-control select:invalid {
    color: rgb(35, 32, 29);
}

.cart-lead-form-select-control select:focus {
    box-shadow: none;
}

.cart-lead-form-select-control select:active {
    color: red;
}

.cart-lead-form-select-control select.select--active {
    color: #23201d;
}

.cart-lead-form-select-control__icon {
    display: flex;
    bottom: 0;
    align-items: center;
    width: 24px;
    position: absolute;
    top: 0;
    right: 21px;
}

.cart-lead-form-select-control__icon svg {
    display: block;
}

.cart-lead-form__radio-list .input-wrapper__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 28px 22px 26px;
    border-radius: 24px;
    border: 1px solid rgb(222, 218, 215);
    background: rgb(255, 255, 255);
}

.input-wrapper input {
    font-size: 22px;
    line-height: 1;
    padding: 0;
    box-sizing: content-box;
    min-width: 15px;
    border: none;
    outline: none;
    font-weight: 400;
    color: rgb(35, 32, 29);
    font-family: var(--font-body-family);
}

.input-wrapper input::placeholder {
    color: #a0968c;
}

.input-wrapper input:focus-visible {
    box-shadow: none;
}

.error-message {
    display: none;
    color: #C34143;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -.014em;
}

.cart-lead-form-select .input-wrapper .error-message {
    padding-top: 12px;
}

.error-message.visible {
    display: block;
}

.input-wrapper .suffix {
    font-size: 22px;
    line-height: 1;
    color: #a0968c;
    font-weight: 400;
}

.input-wrapper .suffix--active {
    color: #23201d;
}

#width-calculator {
    position: absolute;
    visibility: hidden;
    height: 0;
    overflow: scroll;
    white-space: nowrap;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal;
    color: #a0968c;
}

.cart-lead-form__radio-list input:checked + .radio-with-detail-input {
    border-radius: 24px 24px 0 0;
    border-bottom-color: transparent;
}

.cart-lead-form__radio-list input:checked + .radio-with-detail-input + .cart-lead-form--detail-other{
    display: flex;
}

.cart-lead-form--detail-other {
    display: none;
    position: relative;
    padding: 0 22px 28px;
    flex-direction: column;
    gap: 16px;
    border-left: 1px solid rgb(33, 32, 31);
    border-right: 1px solid rgb(33, 32, 31);
    border-bottom: 1px solid rgb(33, 32, 31);
    border-radius: 0 0 24px 24px;
    outline: rgb(33, 32, 31) solid 1px;
}

.cart-lead-form--detail-other:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    z-index: 2;
}

.cart-lead-form--detail-other__heading {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.48px;
    line-height: 24px;
}

.cart-lead-form--detail-other__input {
    padding: 24px 20px;
    border: 1.5px solid #dfdbd8;
    border-radius: 24px;
    font-size: 20px;
    letter-spacing: -0.48px;
    font-weight: 400;
    font-family: var(--font-body-family);
    color: #23201d;
}

.cart-lead-form--detail-other__input:hover {
    border-color: #786e64;
}

.cart-lead-form--detail-other__input:focus {
    outline: none;
    box-shadow: none;
    border-color: #0042e6;
}

.cart-lead-form--detail-other__input:focus-visible {
    outline: none;
    box-shadow: none;
    outline-offset: 0;
}

.cart-lead-form-select.error {
    color: rgb(189, 17, 17);
}

.cart-lead-form-select .error-message {
    padding-top: 0;
}

/* =====  Animated =====*/
.lead-form-wrapper__items.animated .cart-lead-form__descrption,
.lead-form-wrapper__items.animated .cart-lead-form__heading,
.lead-form-wrapper__items.animated .cart-lead-form__radio-list li {
    opacity: 1;
    transform: translateY(0);
}

.cart-lead-form__heading, .cart-lead-form__descrption,
.lead-form-wrapper__items .cart-lead-form__heading,
.cart-lead-form__radio-list li {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.4s ease;
}

.cart-lead-form__radio-list li {
    transition-delay: var(--delay);
}

.lead-form-wrapper__items.fade-out .cart-lead-form__descrption,
.lead-form-wrapper__items.fade-out .cart-lead-form__heading,
.lead-form-wrapper__items.fade-out .cart-lead-form__radio-list li {
    opacity: 0;
    transform: translateY(10px);
}

.lead-form-wrapper__items.fade-in .cart-lead-form__descrption,
.lead-form-wrapper__items.fade-in .cart-lead-form__heading,
.lead-form-wrapper__items.fade-in .cart-lead-form__radio-list li {
    opacity: 1;
    transform: translateY(0);
}

/* =====  Error  =====*/
.cart-lead-form-select.error .cart-lead-form-select__heading,
.cart-lead-form-select.error .cart-lead-form-select__description,
.cart-lead-form-select.error .input-wrapper input,
.cart-lead-form-select.error .input-wrapper input::placeholder,
.cart-lead-form-select.error .input-wrapper .suffix,
.cart-lead-form-select.error .cart-lead-form-select-control select,
.cart-lead-form--detail-other.error,
.cart-lead-form--detail-other.error input {
    color: rgb(189, 17, 17);
}

.cart-lead-form-select.error .cart-lead-form-select-control {
    border-color: rgb(189, 17, 17);
    outline: rgb(189, 17, 17) solid 1px;
}

.cart-lead-form-select.error .input-wrapper__label {
    border-color: rgb(189, 17, 17);
}

.cart-lead-form--detail-other.error input {
    border-color: rgb(189, 17, 17);
    outline: rgb(189, 17, 17) solid 1px;
}

.cart-lead-form--detail-other.error input:focus-visible {
    outline: rgb(189, 17, 17) solid 1px;
    box-shadow: none;
    outline-offset: 0;
}

.cart-lead-form-final {
    margin-top: 25;
}

