.stories {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.stories__heading h2{
    margin: 0 0 32px;
    color: var(--text-color);
}

.stories__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.stories__list li::marker {
    display: none;
}

.stories__card {
    padding: 12px 0 24px;
    background-color: var(--content-color);
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.stories__card-image {
    position: relative;
    margin: 0 8px;
    overflow: hidden;
    padding-top: 74.5%;
    border-radius: 24px 24px 4px 4px;
    margin-bottom: 32px;
}

.stories__card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.storie-article__heading {
    padding: 0 24px 5px;
}

.stories__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.animate-circle {
    position: absolute;
    bottom: -260px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .08;
    background-color: #433d37;
    border-radius: 1998px;
    transition: 500ms cubic-bezier(0.22, 1, 0.36, 1);
    transform-origin: center bottom;
    z-index: 1;
    transform: scale(0);
}

.stories__card:hover .animate-circle {
    transform: scale(2);
}

.secondary-section__heading {
    margin: 0 0 16px;
    width: 100%;
}

.secondary-section__heading h2 {
    margin: 0;
}

.secondary-section__wrapper {
    background-color: #f3f2f0;
    border-radius: 16px;
    padding: 10px;
    min-height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-section__button {
    padding-top: 48px;
}

.secondary-section {
    margin-bottom: 80px;
}

.secondary-section__content {
    width: 100%;
    text-align: center;
    max-width: 450px;
}

@media (max-width: 1199px) {
    .stories__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .stories__card-image {
        padding-top: 45.5%;
    }
}

@media (max-width: 768px) {
    .stories__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .stories {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .stories__heading h2 {
        margin-bottom: 48px;
    }

    .stories__card-image {
        padding-top: 0;
        height: 240px;
    }

    .stories__heading.heading-h2,
    .stories__heading.heading-h2 h2 {
        font-size: 36px;
        letter-spacing: -1.08px;
    }

    .secondary-section {
        margin-bottom: 56px;
    }

    .secondary-section__content {
        text-align: left;
    }
}