.tw-buttons {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.tw-buttons__inner {
    display: flex;
    align-items: center;
    gap: 128px;
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
}

.tw-buttons__content {
    max-width: 485px;
    width: 100%;
}

.tw-buttons__heading h2 {
    font-size: 45px;
    line-height: 1;
    letter-spacing: -1.35px;
    font-weight: 500;
    margin: 0;
}

.tw-buttons__description {
    padding-top: 20px;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.432px;
    font-weight: 400;
}

.tw-buttons__description p {
    margin: 0;
}

.tw-buttons__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}

.button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    letter-spacing: -0.224px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 32px;
    font-weight: 500;
    background-color: #21201F;
    border-radius: 40px;
    white-space: nowrap;
    transition: all ease .3s;
    min-width: 195px;
    height: 64px;
}

.button-secondary:hover {
    background-color: #0042e6;
    color: #fff;
}

@media (max-width: 1199px) {
    .tw-buttons__inner {
        padding-right: 48px;
        padding-left: 48px;
        gap: 20px;
    }

    .tw-buttons  .button-secondary {
        font-size: 16px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .tw-buttons__inner {
        padding: 96px 0;
        flex-direction: column;
        gap: 64px;
        max-width: 360px;
        margin: 0 auto;
    }

    .tw-buttons__description {
        font-size: 18px;
        line-height: 1.2;
    }

    .tw-buttons__heading h2{
        font-size: 36px;
    }
}