.video-with-text {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.video-with-text__inner {
    display: flex;
    background-color: var(--content-color);
    height: 680px;
    border-radius: 36px;
    overflow: hidden;
}

.video-with-text__content {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
}

.video-with-text__video{
    flex-grow: 1;
    display: flex;
    padding-top: 48px;
    align-items: flex-end;
    justify-content: flex-end;
}

.video-with-text__image {
    width: 57%;
}

.video-with-text__image--inner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(9%, 0px);
}

.video-with-text__image img {
    display: block;
    width: 100%;
    height: auto;
}

.video-with-text__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-with-text__preheading {
    flex-grow: 1;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.784px;
    line-height: 30px;
    margin-bottom: 10px;

}

.video-with-text__heading {
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -1.2px;
    max-width: 485px;
}

.video-with-text__heading p {
    margin: 0;
}

@media (max-width: 1199px) {
    .video-with-text__inner {
        min-height: 580px;
    }

    .video-with-text__content {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-right: 0;
        padding-left: 64px;
    }

    .video-with-text__preheading {
        font-size: 18px;
        letter-spacing: -0.432px;
        line-height: 1;
    }

    .video-with-text__heading {
        font-size: 36px;
        letter-spacing: -1.08px;
    }

    .video-with-text__content {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .video-with-text__inner {
        height: 472px;
    }

    .video-with-text__content {
        width: 50%;
    }

    .video-with-text__heading {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .video-with-text__inner {
        flex-direction: column;
        height: auto;
    }

    .video-with-text__content {
        width: 100%;
    }

    .video-with-text__content {
        padding: 32px 32px 0 32px;
    }

    .video-with-text__heading {
        font-size: 28px;
    }

    .video-with-text__inner {
        min-height: inherit;
    }

    .video-with-text__image {
        padding-top: 0;
        width: 100%;
    }

    .video-with-text__image--inner {
        transform: inherit;
    }
}